.App {
  text-align: left;
  width: 40%;
  padding: 5% 25%;
}
.results {
  text-align: left;
  padding: 20px;
}
.inputLabel {
  background-color: darkgray;
  height: 50px;
  border: 2px solid #1d2027;
  border-radius: 3px;
  margin: 5px;
  padding: 10px;
  font-weight: bold;
}
.input {
  display: inline-block;
  height: 40px;
  width: 300px;
  border-radius: 3px;
  border: 2px solid grey;
}
.label {
  display: inline-block;
  width: 100px;
}